*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(159, 156, 156, 0.2);
    margin: 15px;
    padding: 6px;
    flex-wrap: wrap;
}
nav > .heading{
    margin: 2px;
    font-weight: 600;
    text-wrap: nowrap;
}
 input{
    width: 620px;
    margin-top: 12px;
    padding: 12px;
    border-radius: 5px;
    border: 0.5px solid rgb(216, 211, 211);
}

.login_button button{
    padding:18px 18px 12px 18px;
    margin: 5px;
    font-weight: 600;
    background: transparent;
    border: none;
    cursor: pointer;
    color: gray;
    font-size: 20px;
}
.mycart > button{
    padding:18px 18px 12px 18px;
    margin: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 20px;
    text-wrap: nowrap;
}
#hero{
    display: flex;
    justify-content: center;
}
#categories{
      display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: nowrap; 
    gap: 18px;
    padding-right: 18px;
    margin: auto;
    width: 85%;
    margin-top: 15px;
    overflow: hidden; 
}
.list{
    text-wrap: nowrap;
    overflow-x: scroll;
}
#products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.my_card{
    width: 200px;
    display: inline-block !important;
    margin-right: 15px;
}
.my_card > img{
    margin: auto;
    text-align: center;
}
#add_product_list{
    margin-left: 10vw;
    margin-right: 10vw;
}
.product_minuts{
    font-weight: 600;
    width: fit-content;
    margin-left: 4px;
    border-radius: 5px;
    font-size: 9px;
    background-color: rgb(228, 227, 226);
}
.product_name{
    font-size: 15px;
    text-wrap: wrap;
    font-weight: 700;
}
.quantity{
    margin-left: 10px;
}
table{
    width: 100%;
    margin: 10px;
}
.useful_link{
    flex: 2;
}
#important_links{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 26px;
}
td{
    line-height: 2;
    font-weight: 500;
    color: rgb(154, 153, 153);
}
.categories{
    flex: 4;
}
#downloads{
    display: flex;
    justify-content: space-around;
    background-color: rgb(247, 245, 240);
}
.socialmedia_logo{
    font-size: 30px;
    display: column;
}
.downloadlogo{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.l>p{
    font-size: 14px;
    color: rgb(154, 153, 153);
    line-height: 18px;
    margin: 12px;
}
#about_blinkit{
    font-size: 14px;
    color: rgb(154, 153, 153);
    line-height: 18px;
    margin: 12px;
}
.love{
    text-align: center;
}
 @media screen and(max-width:500px){
   #hero > img{
    display: none;
   } 
   nav{
    flex-direction: column;
   }
   #about_blinkit{
    width: 90%;
    text-align: justify;
   }
   #downloads{
    width: 190%;
    text-align: justify;
    flex-direction: column;
   }
   .socialmedia_logo{
    margin-top: 20px;
   }
   .list{
    width: 100%;
   }
 }